#movie-intro {
   width: 70%;
}

.intro-title {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   padding: 0.8vw 0.8vw;
   background-color: black;
   gap: 0.5vw;
   color: white;
   font-size: 2rem;
}

.intro-title i {
   font-size: 1.4rem;
}

.intro-title a {
   display: flex;
   align-items: center;
   gap: 0.5vw;
   color: orange;
}

.intro-info {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
   margin-bottom: 10px;
}

.icon-play {
   position: absolute;
   color: orange;
   font-size: 5vw;
   z-index: 1;
   transition: all 0.5s ease-in-out;
}

.icon-play:hover {
   transform: scale(1.5);
}

.info-img-1 {
   width: 100%;
   aspect-ratio: 16/8;
   opacity: 0.6;
}

.info-img-2 {
   position: absolute;
   z-index: 1;
   width: 16vw;
   height: 10vw;
   left: 10px;
   bottom: 10px;
}

.info-place {
   position: absolute;
   z-index: 1;
   left: 18vw;
   bottom: 10px;
   color: white;
}

.place-name {
   font-size: 2.5rem;
}

.place-e-name {
   font-size: 1.4rem;
   margin-bottom: 10px;
}

.place-watch {
   display: flex;
   gap: 5px;
   align-items: center;
}

.place-watch button {
   color: white;
   padding: 10px;
   border-radius: 0.4vw;
   opacity: 0.8;
   font-size: 1.2rem;
   background-color: blue;
   border: none;
   cursor: pointer;
}

.place-watch a {
   color: white;
   padding: 10px;
   border-radius: 0.4vw;
   opacity: 0.8;
   font-size: 1.2rem;
   background-color: red;
}

.place-watch button:hover,
.place-watch a:hover {
   opacity: 1;
}

.intro-content {
   color: white;
   padding: 10px;
   background-color: black;
   width: 100%;
}

.like-share {
   color: white;
}

.intro-rate {
   display: flex;
   flex-direction: column;
   gap: 5px;
}

.mess {
   font-size: 1.3rem;
   margin-top: 5px;
}

#star-container {
   vertical-align: middle;
   cursor: pointer;
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 5px;
}

.star-widget {
   display: flex;
   gap: 2px;
   align-items: center;
   font-size: 1.2rem;
}

.star-widget i {
   color: #ccc;
   transition: color 1s ease;
}

.star-widget i.active {
   color: #ff9601;
}

ul.content-info {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   overflow: hidden;
   gap: 5px;
   font-size: 1.2rem;
}

.content-info li {
   display: flex;
   gap: 5px;
}

.content-info li label {
   white-space: nowrap;
}

.content-info li span {
   display: flex;
   flex-wrap: wrap;
}

#trailer {
   display: none;
}

.trailer-video {
   width: 100%;
   aspect-ratio: 16/9;
}

.content-hr {
   width: 100%;
   border: 1px solid rgb(229, 8, 8);
   margin: 5px 0;
}

.content-review p {
   font-size: 1.4rem;
   margin-bottom: 10px;
   color: orange;
}

.content-review span {
   font-size: 1.2rem;
}

.fb-comments {
   background-color: white;
}

@media screen and (max-width: 1023px) {
   #movie-intro {
      width: 90%;
   }

   .intro-title {
      font-size: 1.2rem;
   }

   .intro-title i {
      font-size: 0.8rem;
   }

   .icon-play {
      font-size: 2rem;
   }

   .info-img-2 {
      display: none;
   }

   .info-place {
      left: 10px;
      bottom: 10px;
   }

   .place-name {
      font-size: 1.4rem;
   }

   .place-e-name {
      font-size: 1.2rem;
   }

   .place-watch a {
      font-size: 1.2rem;
   }

   .intro-rate p {
      font-size: 1.2rem;
   }

   .star-widget {
      font-size: 1.2rem;
   }

   ul.content-info {
      grid-template-columns: repeat(1, 1fr);
      font-size: 1.2rem;
   }

   .content-review p {
      font-size: 1.5rem;
   }

   .content-review {
      font-size: 1.2rem;
   }
}

@media screen and (max-width: 767px) {
   #movie-intro {
      width: 90%;
   }

   .intro-title {
      font-size: 1rem;
   }

   .intro-title i {
      font-size: 0.7rem;
   }

   .icon-play {
      font-size: 1.5rem;
   }

   .info-img-2 {
      display: none;
   }

   .info-place {
      left: 5px;
      bottom: 5px;
   }

   .place-name {
      font-size: 1.2rem;
   }

   .place-e-name {
      font-size: 1rem;
   }

   .place-watch a {
      font-size: 1rem;
   }

   .intro-rate p {
      font-size: 1rem;
   }

   .star-widget {
      font-size: 1rem;
   }

   ul.content-info {
      grid-template-columns: repeat(1, 1fr);
      font-size: 1rem;
   }

   .content-review p {
      font-size: 1.2rem;
   }

   .content-review {
      font-size: 1rem;
   }
}
